<table style="border-collapse:collapse;" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
    <tr>
        <td style="vertical-align:middle" width="12%" valign="middle">
            <img src="[config]base_url[/config]gallery/[constant]tanggal-pemasangan[/constant]/logo.png">
        </td>
        <td width="88%"><table style="border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
            <tr>
                <td style="font-size: 16pt;" align="center"><strong>[constant ucase]nama-instansi[/constant]</strong></td>
            </tr>
            <tr>
                <td style="font-size: 11pt" align="center">[constant]alamat-instansi-1[/constant]</td>
            </tr>
            <tr>
                <td style="font-size: 11pt" align="center">[constant]alamat-instansi-2[/constant]</td>
            </tr>
            <tr>
                <td style="font-size: 11pt" align="center">Telepon: [constant]telepon-instansi-2[/constant]</td>
            </tr>
            <tr>
                <td style="font-size: 14pt" align="center"><strong>[constant ucase]kota-instansi[/constant] [constant]kode-pos-instansi[/constant]</strong></td>
            </tr>
            </tbody></table>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <hr style="height: 1pt; line-height: 1pt">
            <hr style="height: 2pt; line-height: 2pt">
        </td>
    </tr>
    </tbody>
</table>
