[template]header-1[/template]
<table width="100%" cellspacing="0" cellpadding="0">
    <tbody><tr>
        <td style="line-height:10pt">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-weight:bold" align="center"><u>[data]surat-judul[/data]</u></td>
    </tr>
    <tr>
        <td align="center">Nomor: [data format="0000"]surat-nomor[/data]/[data ucase]surat-jenis[/data]/[data roman]surat-bulan[/data]/[data]surat-tahun[/data]</td>
    </tr>
    <tr>
        <td style="line-height:10pt">&nbsp;</td>
    </tr>
    </tbody></table>

<table width="100%" cellspacing="0" cellpadding="0" style="line-height:20pt">
    <tbody>
    <tr>
        <td style="text-align:justify">Assalamu'alaikum Wr. Wb.</td>
    </tr>
    <tr>
        <td style="line-height:10pt">&nbsp;</td>
    </tr>
    <tr>
        <td style="text-align:justify">Kami ucapkan selamat datang dan terima kasih sudah menggunakan aplikasi ini. Besar harapan kami semoga aplikasi ini bermanfaat. Mohon melaporkan kepada kami jika terdapat kesalahan saat menggunakan aplikasi ini.</td>
    </tr>
    <tr>
        <td style="line-height:10pt">&nbsp;</td>
    </tr>
    <tr>
        <td style="text-align:justify">Terima kasih atas perhatiannya.</td>
    </tr>
    <tr>
        <td style="line-height:10pt">&nbsp;</td>
    </tr>
    <tr>
        <td style="text-align:justify">Wassalamu'alaikum Wr. Wb.</td>
    </tr>
    <tr>
        <td style="line-height:10pt">&nbsp;</td>
    </tr>
    </tbody></table>
[template]footer-1[/template]
